.contacts {
    padding: 120px 0 90px 0;
}
    .contacts__wrapper {
        padding: 0 35px 0 52px;
        display: grid;
        grid-template-columns: 400px 585px;
        justify-content: space-between;
    }
    .contacts__photo img{
            width: 100%;
            height: 100%;
            object-fit: cover;
    }
    .contacts__descr {
        padding-top: 6px;
}
        .divider {
            margin: 0;
        }
    .contacts__title {
        position: relative;
        padding: 1px 0 0 12px;
    }
    .contacts__title::before{
        content:'';        
        position:absolute;
        z-index:-1;
        top:-25%;
        left:0;
        width:36px;
        height:36px;
        border-radius:100%;
        background:#ffa501
    }
    .contacts__text, .contacts__social {
        margin-top: 20px;
    }
    .contacts__link {
        margin-right: 25px;
    }
        img {
            max-width: 30px;
            max-height: 30px;
        }
        .contacts__link:hover {
            text-decoration: none;
        }
    
    .contacts__form {
        margin-top: 30px;
        display: grid;
        grid-template: 45px 190px 45px / repeat(2, 280px);
        justify-content: space-between;
        row-gap: 27px;
    }
        label {
            display: block;
            position: absolute;
            top: -9px;
            left: 12px;
            height: 18px;
            padding: 0 8px;
            background-color: #fff;
            font-size: 12px;
            margin-bottom: 0;
        }
    .contacts__triggers {
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 35px;
    }
    .contacts__policy {
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
    }
        input {
            margin-right: 10px;
        }
    
    .contacts__input {
        position: relative;
    }
        input {
            width: 100%;
            height: 100%;
            padding: 0 20px;
            font-size: 12px;
        }