.price {
    padding-top: 60px;
}
    .price__wrapper {
        margin-top: 60px;
        padding: 0 60px;
        display: grid;
        grid-template: repeat(3, minmax(45px, auto)) / repeat(2, 365px);
        grid-auto-rows: minmax(45px, auto);
        row-gap: 15px;
        justify-content: space-between;
    }
    .price__item {
        position: relative;
        display: grid;
        grid-template: repeat(2, minmax(21px, auto)) / repeat(2, auto);
        row-gap: 5px;
        padding-left: 25px;
    }
    .price__item:before{
            content: '';
            width: 15px;
            height: 15px;
            background-color: #ffa501;
            border-radius: 100%;
            position: absolute;
            top: 5px;
    }
        
    .price__type, .price__count {
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
    }
    .price__count {
        justify-self: end;
    }
    .price__descr {
        grid-column: 1 / 3;
        font-size: 12px;
        line-height: 18px;
    }
